doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Video segmentation test
body
    video#videoElement(autoplay, playsinline, width="340", height="280")
    div#selfie-container
      div#background-container
      canvas#canvasPerson(width="340", height="280")